{% extends "home.html" %}

{% block li %}
                  <li><a href="{% url "view_newsfeed" %}">News feed</a></li>
                  <li><a href="{% url "charity_info" %}">Your Profile</a></li>
                  <li><a href="{% url "stream" %}">Micro-Donation Videos</a></li>
                  <li><a href="{% url "new_video" %}">Add a Video</a></li>
                  <li><a href="#">About Us</a></li>
{% endblock %}

{% block content %}
<h1 class="down">
This is {{ user.username }}'s Profile Page
<h1 class="down">Your Charity:{{ charity.name }}</h1>
<h1 class="down">Charity Image: {{ charity.image }}</h1>
<h1 class="down">Charity description: {{ charity.description }}</h1>
<br>
{#The videos you have liked:#}
{##}
{#    {% for video in videos %}#}
{#    <h1>{{ video.title }}</h1>#}
{#        video: {{ video.video_url }}#}
{#             <iframe width="560" height="345" src="{{ video.video_url|safe }}" allowfullscreen></iframe>#}
{#    {% endfor %}#}
{##}
{#    </h1>#}
{% endblock %}
{% block page %}
<body class="grey"></body>
{% endblock %}