{% extends "home.html" %}
{% load staticfiles %}

    {% block li %}
                  <li><a href="{% url "view_newsfeed" %}">News feed</a></li>
                  <li><a href="{% url "charity_info" %}">Your Profile</a></li>
                  <li><a href="{% url "stream" %}">Micro-Donation Videos</a></li>
                  <li><a href="{% url "new_video" %}">Add a Video</a></li>
                  <li><a href="#">About Us</a></li>
    {% endblock %}

{% block content %}

<div class="down">
<h1>Pangea</h1>

<br>
<a href="{% url "new_charity" %}">Add New Charity</a>
</div>
<h1 class="down">Your Charity:{{ charity.name }}</h1>
<h1 class="down">Charity Image: {{ charity.image }}</h1>
{% endblock %}



{% block page %}
<body class="grey">
<div class="down">
    <form action="" method="POST">
             {% csrf_token %}
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_t1QV5ese4yqCTJ8rCK9JgdJk"
    data-amount="10"
    data-name="Pangea"
    data-description="Pangea ($0.10)"
    data-image="/128x128.png">
  </script>
</form>
<a href="{% url "payment" %}">Sign Up Your Credit Card</a>
</div>
</body>

{% endblock %}