{% extends "nonav.html" %}
{% load staticfiles %}
{% block content %}


    <img class="profileback" src="{{ charity.cover_photo.url }}" height="100%" width="100%">


    <div id="container1">

    <h1 class="charityname">{{ charity.name }}</h1>
    <h2 class="charityslogan">{{ charity.slogan }}</h2>
    <img class="charityimage" src="{{ charity.image.url }}" height="300px" width="500px">
    <article>
    <p class="charitydescription">{{ charity.description }}</p>
    </article>
    <br>
    <div>
    {{ charity.video }}
    </div>
    <div>
        <a href="{{ charity.charity_url }}"><img class="visit" src="{% static url %}images/vistsite.png"></a>

    </div>
    </div>
    <br>

    <br>
    <a href="{% url "edit_charity" charity.id %}">Edit charity</a>
    <br>
    <a href="{% url "delete_charity" charity.id %}">Delete charity</a>
    <br>
    <a href="{% url "charities" %}">Back to Charities</a>
{% endblock %}