@import url(http://fonts.googleapis.com/css?family=Crushed|Sail|Montez|Merienda+One|Radley|Italianno|Rancho|Damion|Leckerli+One|Uncial+Antiqua|Amarante);
@import url(http://fonts.googleapis.com/css?family=News+Cycle|Poiret+One|Sail|Kite+One|Carrois+Gothic+SC);

* {margin:0; padding: 0;}
body {height:100%; width:100%;
font-size: 14px;}
 
/** formata elementos que tem backgrounds parallax **/

/** For angular_videos.html, nonav.html, logs.html, profilepages.html the landing page **/

.bgParallax {
    font-family: 'Montez', cursive;
	color:#FFF;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;/*1920px*/
	position: relative;
	min-height: 100%;
	text-shadow:0 0 10px rgba(0,0,0,0.7);
 
	background-position: 50% 0;
	background-repeat: repeat;
	background-attachment: fixed;
}
 
/* Define backgrounds dos divs */
#quemsomos {
  background-image:url('../images/hands.png');
  height:100%;
font-family: 'Montez', cursive;
}
#missao {
	background-image:url('../images/cage.jpg');
    height:100%;
	
	-webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
	-moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
	-ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
	-o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
	box-shadow:-20px 0 20px 5px rgba(0,0,0,0.7);
}
 
/** Formata o article que vai o texto **/
.bgParallax article {
  width: 70%;
  text-align: center;
  height:100%;

  margin:0 auto;
  padding:20% 0 0;

}


 
/** formata texto **/
article h1 {
  font-size:40px;
}
article p {
  line-height: 30px;
  font-size:20px;
  margin-top:40px

}
article p a {
  color:#FFF;
  text-decoration:none;
  font-size:30px;
}

body {
	font-size: 16px;
	line-height: 1.4;
	margin: 0;
    font-family: 'Damion', cursive;

}

.clearfix:before,.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;}

#container {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 70%;
	margin: auto;
	color: #ffffff;
	padding: 55px 1%;
    text-align: center;

}



#container h1 {font-size: 1.8em;}
#container h2 {font-size: 1.35em;}

#navbar {
	width: 70%; /* Should be same width as content container */
	position: fixed;
	top: 0;	left: 15%; /* Left is 100-[content width]/2). */
	opacity: 1;
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
    z-index: 0;

}

nav ul {
    font-family: 'Damion', cursive;
	font-size:22px;
	list-style-type: none;
	background-color:none;
	opacity:1;
	width: 50%;
	margin: 0;
	padding: 10px 0;
	color: #F1F1F1;
    border-radius:20px;
	z-index: 200;}

nav ul:nth-of-type(1) {float: left;z-index: 200;}
nav ul:nth-of-type(2) {float: right;z-index: 200}

nav ul li {
	float: left;
	margin: 0;
	padding: 20px;
    font-family: 'Damion', cursive;
	z-index: 200
}
nav ul:nth-of-type(2) li {float: right;}

nav ul li a {
	text-decoration: none;
	color: #f5f5f5;
    font-family: 'Damion', cursive;
    font-size: 30px;
	z-index: 200
}

nav ul li a:hover {color:white;}

.fixednav {
	left: 0 !important;
	width: 100% !important;
	opacity: .9 !important;
	z-index: 200;
}

.filler {font-size: .8em;}

.fixednav ul {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
	width: 15% !important;
	text-align: center;
	z-index: 200
}
.fixednav ul li {display: block; float: none;z-index: 200}
.fixednav ul:nth-of-type(2) li {float: none;z-index: 200}

		
@media only screen and (max-width: 800px) {
	body {font-size: 15px;}
	
	#container {
		width: 80%;
		position: absolute;
		left: 20%;
		padding: 1%;
	}

	#navbar {
		width: 30%;
		position: fixed;
		top: 0; left: 0;
		opacity: 1;
		-webkit-transition: none;
		transition: none;
		z-index: 200
    }

	nav ul {width: 100%; padding: 0; z-index: 200}
	nav ul:nth-of-type(2) {float: left; z-index: 200}
	nav ul li, nav ul:nth-of-type(2) li {float: none; z-index: 200}
	
	nav#navbar ul a {display: block;z-index: 200}

	.fixednav {
		left: 0 !important;
		width: 20% !important;
		opacity: 1 !important;
		z-index: 200
    }

	.fixednav ul {
		-webkit-transition: none;
		transition: none;
		width: 100% !important;
		text-align: left;
		z-index: 200
	}
	#logo{
		position:relative;
		right:80px;
	}
	.clicks{
		position:absolute;
		left:100px;
	}
}

@media only screen and (max-width: 600px) {
	
	nav#navbar {
		top: 55px;
		left: -150px;
		width: 150px;
		-webkit-transition: all 300ms;
		transition: all 300ms;
		opacity: 0.92;
		z-index: 999;	}

	nav#navbar ul {
		-webkit-transition: all 300ms;
		transition: all 300ms;
		z-index: 999;	}

	body.menu-active nav#navbar {left: 0px;	z-index: 999;}
	body.menu-active nav#navbar ul {left: 0px;	z-index: 999;}

    body{
        width:100%;
    }
	#container {
		position: fixed;
		top: 0; left: 0;
		width: 100%;
		height: 100%;
		padding: 0 1% 1% 43px;
		overflow: scroll;
	}

	div.menu-trigger {
		position: fixed;
		top: 7px; left: 7px;
		width: 32px; height: 32px;
		background: #9C413F;
		cursor: pointer;
		border-radius: 5px;
		-webkit-transition: all 300ms;
		transition: all 300ms;
		z-index: 999;
		opacity: 0.8;

	}
	
	div.menu-trigger:before { 
		content: 'P';
		display: inline-block;
		width: 32px;
		height: 32px;
		font-size: 1.2em;
		text-align: center;
		text-transform: none;
		line-height: 32px;
		color: #fff;
	}
}


#logo{
	position:relative;
	bottom:200px;
}
.clicks{
	position:relative;
	left:15px;
	

}

.clicks ul
{
margin: 0;
padding: 0;
list-style-type: none;
}

.clicks ul li { display: inline; 
padding:30px;
font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;}

a{
	text-decoration: none;
	color: #ffffff;
}

a:hover {text-shadow: 0 0 10px #fff;}

#status{
    font-size: 22px;
}

/* Reset Styles */
*{
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
}

#users{
	background-image:url("../images/rocky-coast-6845.jpg");
    background-size: cover;
        background-position: top left;
        background-attachment: fixed;}

#userhome{
	background-image:url("../images/mellow.jpg");
    background-size: cover;
        background-position: top left;
        background-attachment: fixed;}

#charities{
	background-image:url("../images/orange.jpg");
    background-size: cover;
        background-position: top left;
        background-attachment: fixed;}

#givers{
	background-image:url("../images/misty-morning-2716.jpg");
    background-size: cover;
        background-position: top left;
        background-attachment: fixed;}

#wrapper{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#wrapper{
	width: 100%;
align-content: center;
    text-align: center;
}
/* Floats button in the middle */
section{
	margin: 50px 0;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

/* The button */
#button-blue{
	float:left;
	width: 100%;
	max-width:500px;
	border: white solid 4px;
	cursor: pointer;
	background-color: #0493bd;
	margin-top: -4px;
	color: white;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	letter-spacing: .1em;
	padding-top: 22px;
	padding-bottom: 22px;
	font-weight: 500;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
    opacity:0.6;
}
#button-red{
	float:left;
	width: 100%;
	max-width:500px;
	border: white solid 4px;
	cursor: pointer;
	background-color: orangered;
	margin-top: -4px;
	color: white;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	letter-spacing: .1em;
	padding-top: 22px;
	padding-bottom: 22px;
	font-weight: 500;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
    opacity:0.6;
}

#button-green{
	float:left;
	width: 100%;
	max-width:500px;
	border: white solid 4px;
	cursor: pointer;
	background-color: green;
	margin-top: -4px;
	color: white;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	letter-spacing: .1em;
	padding-top: 22px;
	padding-bottom: 22px;
	font-weight: 500;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
    opacity:0.6;

}
#button-red:hover{
	background-color: rgba(0,0,0,0);
	color:red;
    font-family: 'Montez', cursive;
    text-shadow: 0 0 10px #fff;
}
/* Change text color & background opacity on hover*/
#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color:blue;
    font-family: 'Montez', cursive;
    font-weight: bold;
    text-shadow: 0 0 10px #fff;
}

#button-green:hover{
	background-color: rgba(0,0,0,0);
	color:green;
    font-family: 'Montez', cursive;
    value-shadow: 0 0 10px #fff;
}

/* The white hover effect */
.ease {
	width: 0px;
	height: 70px;
	background-color: white;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

/* Make visable when hover */
#btn-container1:hover .ease{
	width: 100%;
	max-width: 500px;
	background-color: yellow;
	border: 0;
}

#btn-container2:hover .ease{
	width: 100%;
	max-width: 500px;
	background-color: yellow;
	border: 0;

}

#btn-container3:hover .ease{
	width: 100%;
	max-width: 500px;
	background-color: yellow;
	border: 0;
}

.down{
    position: relative;
    top:130px;
}

.container{
width:70%;
}

#half{
    width:100%;
    height:50%;
    overflow:hidden;
    position: relative;
    z-index: -10;

}

#half1{
    width:100%;
    height:50%;
    overflow:hidden;
    position: relative;
    z-index: 0;

}

.profileback{
width:100%;
opacity:0.7;
}



.charityname{
    color:white;
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 40px;
    z-index: 100;
}

.charityimage{
    position: fixed;
    border:5px #f5f5f5;
    padding-bottom: 10px;
}

.giverimage{
    position: relative;
    bottom:150px;
    border: 200px;
    border-radius: 200px;
}

.giverimage:hover{
-moz-box-shadow: 0 0 20px 5px #000000;
-webkit-box-shadow: 0 0 20px 5px#000000;
box-shadow: 0 0 20px 5px #000000;
border-radius: 200px;
}

.minigiverimage{
    border: 200px;
    border-radius: 200px;
    margin-left: 10px;
    padding: 20px;
}

.minigiverimage:hover{
-moz-box-shadow: 0 0 20px 5px #000000;
-webkit-box-shadow: 0 0 20px 5px#000000;
box-shadow: 0 0 20px 5px #000000;
border-radius: 200px;

}



#container1 {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 70%;
	margin: auto;
	color: #ffffff;
    text-align: center;
    background-size: cover;
    position: relative;
    bottom:100px;
    z-index: 100;
    background-image:url("../images/divback.png");
    padding-right: 20px;
    padding-left:20px;
    padding-top:20px;
    padding-bottom: 20px;

}

#containervideos {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 90%;
	margin: auto;
	color: #ffffff;
	padding: 55px ;
    text-align: center;
    align-content: center;
   	background-image:url("../images/divback.png");
    background-size: cover;
    position: relative;
    top:80px;

}

button{
    z-index: 100;
}

.profilepic{
    border-radius: 100px;
}

.profilepic:hover{
    -moz-box-shadow: 0 0 20px 5px #000000;
-webkit-box-shadow: 0 0 20px 5px#000000;
box-shadow: 0 0 20px 5px #000000;
border-radius: 200px;
}

input{
    font-family: 'Damion', cursive;

}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.animated {
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-ms-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
	}

.animated.long {
	-webkit-animation-duration:2s;
	-moz-animation-duration:2s;
	-ms-animation-duration:2s;
	-o-animation-duration:2s;
	animation-duration:2s;
	}

@-webkit-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-moz-transform: translateX(-2000px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-o-transform: translateX(-2000px);
	}
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInRightBig {
	0% {
		opacity: 0;
		transform: translateX(-2000px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.fadeInRightBig1 {
	-webkit-animation-name: fadeInRightBig;
	-moz-animation-name: fadeInRightBig;
	-o-animation-name: fadeInRightBig;
	animation-name: fadeInRightBig;
	animation-delay:0.5s; /* Delay of NavBlock1 in seconds */
	-webkit-animation-delay:0.5s; /* Safari and Chrome */
}


@-webkit-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
	}	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-moz-transform: translateX(2000px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-o-transform: translateX(2000px);
	}
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		transform: translateX(2000px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
.fadeInLeftBig1 {
	-webkit-animation-name: fadeInLeftBig;
	-moz-animation-name: fadeInLeftBig;
	-o-animation-name: fadeInLeftBig;
	animation-name: fadeInLeftBig;
	animation-delay:0.5s; /* Delay of NavBlock1 in seconds */
	-webkit-animation-delay:0.5s; /* Safari and Chrome */
}

.down3{
    position: relative;
    top:150px;
}



.profilepic:hover{
    width:75px;
    height:75px;
}

.background{
    position: fixed;
    width:100%;
    height: 100%;
    z-index: -999;
    background-size: cover;
    background-position: top left;
    background-attachment: fixed;


}
h2{
    position:relative;
    bottom:150px;
    color:white;
    z-index: 200;

}

#givervideo{
    margin-top: 20px;
    margin-bottom: 20px;
}

.edit{
    position:fixed;
    top:590px;
    z-index: 300;
    font-size: 15px;
    text-align: center;
    background-image:url("../images/divback.png");
    border-radius:20px;
    padding:10px;
    margin-left: 5px;
    width:10%;
}

#custom {
  margin-left: 5px;
  padding-left:35px;
  height:50px; width:0px;
  background:url(http://bit.ly/17vw9TY) no-repeat;
  background-size:30px;
  border:none;
  border-radius:3px;
  outline:none;
  color:white;
  font-size:50px;
  transition:width 1s, color 1s;
  color:white;
  font-family: 'Poiret One', sans-serif;
    position: relative;
    top:0px;

;
}
#custom:hover {
  cursor:pointer;
  color:white;
  width:600px;
  font-family: 'Poiret One', sans-serif;

}

#custom:focus {
  width:600px;
  color:white;
  font-family: 'Poiret One', sans-serif;
 transition:width 1s, background-color 1s, color 1s;
}
#custom:focus:hover {
  cursor:text;
  color:white;

}

placeholder{
    color:white;
}

.back3{
    background-image:url("../images/mount.jpg");
    background-size: cover;
	background-attachment: fixed;
    z-index: -999;
    width:100%;
}



.font{
    font-family: 'Poiret One', sans-serif;
    font-weight:bold;
    color:white;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
}



.big{
    font-size: 30px;

}

iframe{border: 25px solid rgba(0, 0, 0, 0.6);
border-radius: 10px;
}

.don{
    z-index: 300;
}

.links{
    font-size: 30px;
    font-family: Damion, cursive;
}


#round{
    width:10%;
}

#section1{
    align-content: center;
}



.center{
    border:0px;
    align-content: center;
    text-align: center;
}

.top{
    position: relative;
    top:100px;
}

ol{
    opacity: 0;
    z-index: -999;
}



.flex-prev{
    opacity: 0;
}

.flex-next{
    opacity: 0;
}

.posts{
    padding:10px;
    font-family: 'Poiret One', sans-serif;


}

.forn{
    font-family: 'Poiret One', sans-serif;
    font-size: 25px;
    color:white;

}


.page{
    background-image:url("../images/news.jpg");
    background-size: cover;
	background-attachment: fixed;
    z-index: -999;
    width:100%;

}

.down15{
    position: relative;
    top:100px;
     font-family: 'Poiret One', sans-serif;
}
.form{
    text-align: left;
    width:40%;


}

.posts{
    background-image:url("../images/divback.png");
    width:50%;
    position: relative;
    padding:20px;
    margin:20px;
    border-radius: 20px;
    color: white;
    font-size: 20px;
}

.down4{
    position: relative;
    top:150px;
}

.right{
    position: relative;
    right:60px;
}