<img class="background" src="{{ charity.background_image }}">

<center>
<div id="half1">
<img class="profileback" src="{{ charity.cover_photo }}">
</div>
<h2 class="charityslogan">{{ charity.slogan }}</h2>

<a href="{{ charity.charity_url }}"><img class="animated fadeInRightBig1 giverimage" src="{{ charity.image }}" height="300px" width="300px"></a>
 </center>
<center>
    <div id="container1">
<h1 class="charityname">{{ charity.name }}</h1>
<article>
<p class="charitydescription">{{ charity.description }}</p>
</article>
<br>
<div>
<a href="{{ charity.charity_url }}"><img class="visit" ng-src="/static/images/vistsite.png"></a>
</div>
</div>
</center>

