<img class="profileback" src="{{ giver.cover_photo }}" height="100%" width="100%">


<div id="container1">

<h1 class="charityname">{{ giver.name }}</h1>
<h2 class="charityslogan">{{ giver.slogan }}</h2>
<img class="charityimage" src="{{ giver.image }}" height="300px" width="500px">
 <article>
<p class="charitydescription">{{ giver.description }}</p>
 </article>
<br>
<div>
<a href="{{ giver.giver_url }}"><img class="visit" src="{% static url %}images/vistsite.png"></a>

</div>
</div>
<a href="{% url "edit_giver" giver.id %}">Edit charity</a>
<br>
<a href="{% url "delete_giver" giver.id %}">Delete charity</a>
<br>
<a href="{% url "givers" %}">Back to Charities</a>