{% extends "home.html" %}

{% block li %}

                  <li><a href="{% url "view_newsfeed" %}">News feed</a></li>
                  <li><a href="{% url "charity_info" %}">Your Profile</a></li>
                  <li><a href="{% url "view_videos" %}">Micro-Donation Videos</a></li>
                  <li><a href="{% url "new_video" %}">Add a Video</a></li>
                  <li><a href="#">About Us</a></li>
{% endblock %}
{% block content %}

<div class="down">
<h1>Add a Video</h1>
<form method="post">
    {% csrf_token %}
    {{ form2 }}
    <input type="submit" value="Add a Video"/>
</form>

<a href="{% url "charities" %}">Home</a>
</div>

{% endblock %}

{% block page %}
<body class="grey">
    </body>
{% endblock %}


