{% extends "logintemp.html" %}
{% load staticfiles %}

{% block content %}
<div id="backed"></div>
<center>
<div class="animated fadeInRightBig1 down11">
<center>
<img id="logoo" src="{% static url %}images/circ.png">
<h1>{{ charity.name }}</h1>
</center>
<form method="post">
    {%  csrf_token %}
    {% for field in form2 %}<hr>

       <ul class="form">
      <li>{{ field.name }}: {{ field }}</li>
       </ul>

    {% endfor %}
<center>
    <input id="update" type="submit" value="Update"/>
    <a id="backbtn" href="{% url "charity_info" %}"><--</a>
     </center>
</form>




</center>
{% endblock %}


