{% extends "home.html" %}

{% block li %}

                  <li><a href="{% url "view_newsfeed" %}">News feed</a></li>
                  <li><a href="{% url "giver_profile" %}">Your Profile</a></li>
                  <li><a href="{% url "stream" %}">Micro-Donation Videos</a></li>

{% endblock %}
{% block content %}

<div class="down">
<h1>Pangea</h1>

<br>
<a href="{% url "new_giver" %}">Add New Charity</a>

<h1 class="down">Giver name:{{ giver.name }}</h1>
<h1 class="down">Giver Image: {{ giver.image }}</h1>
<a href="{% url "new_giver" %}">Add New Giver</a>
</div>



{% endblock %}

{% block page %}
<body class="grey">

</body>

{% endblock %}
