{% extends "logintemp.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<center>

<div class="animated fadeInRightBig1 down">
<img src="{% static url %}images/circ.png">

<form method="post" action=".">
  {% csrf_token %} 
  {{ form.as_p }}

<input id="login" type="submit" value="{% trans 'Log in' %}" >
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p class="password">{% trans "Forgot password" %}?<a href="{% url 'auth_password_reset' %}"><br>{% trans "Reset it" %}</a></p>
{#<p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>#}

            <a href="{% url "social:begin" "facebook" %}"><img src="{% static url %}images/fbinw.png"></a>
    </div>
</center>
{% endblock %}

{% block page %}
    <body class="grey">

    </body>
{% endblock %}
