{% load i18n %}
{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>{% block title %}User test{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/grid.css" %}">
    <script type="text/javascript" src="{% static "jquery/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/grid.js" %}"></script>
    <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js?ver=1.4.2'></script>
    {% block moresources %}{% endblock %}
</head>

<link href='http://fonts.googleapis.com/css?family=Elsie:400,900' rel='stylesheet' type='text/css'>

<body>
  <div class="container">

	<div class="menu-trigger"></div>

        <nav id="navbar">

            <ul>
                {% block leftli %}
                {% endblock %}
            </ul>


           <ul id="status">
           <li>Log Out</li>

            <li id="loggedin">Usernmae</li>



            </ul>

        </nav>

	</div>

	<script>
		window.onscroll=function(){document.getElementById('navbar').setAttribute('class', (window.pageYOffset>5?'fixednav clearfix':'clearfix'));}
	</script>

    <script>
        (function() {
            var $body = document.body
            , $menu_trigger = $body.getElementsByClassName('menu-trigger')[0];

            if ( typeof $menu_trigger !== 'undefined' ) {
                $menu_trigger.addEventListener('click', function() {
                    $body.className = ( $body.className == 'menu-active' )? '' : 'menu-active';
                });
            }

        }).call(this);

    </script>
</body>
{% block content %}
{% endblock %}