{% extends "fbprofilepages.html" %}
{% load staticfiles %}

{% block moreresources %}

    <link href='http://fonts.googleapis.com/css?family=Elsie:400,900' rel='stylesheet' type='text/css'>

{% endblock %}

{% block leftli %}

      <li><a href="{% url "fbusers" %}">Accounts</a></li>
      <li><a href="{% url "stream" %}">M D Videos</a></li>
      <li><a href="{% url "stream" %}">Newsfeed</a></li>


{% endblock %}

{% block content %}
<body id="charities">
    <div id="wrapper" class="animated fadeInRightBig1 down4">
    <center><img src="{% static url %}images/circ.png"></center>
         <section>
            <div id="btn-container2">
                <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_3hi3ZKNtOuxDhGDN7Gp9ckHJjDyqfN3h"><input type="submit" value="Payments" id="button-red"/></a>
                <div class="ease"></div>
            </div>
        </section>

        <section>
            <div id="btn-container2">
                <a href= "{% url 'fbcharity_info' %}" ><input type="submit" value="View Profile" id="button-red"/></a>
                <div class="ease"></div>
            </div>
        </section>

        <section>
            <div id="btn-container2">
                <a href="{% url 'new_video' %}"><input type="submit" value="Add a Video" id="button-red"/></a>
                <div class="ease"></div>
            </div>
        </section>






    </div><!-- wrapper -->
</body>
{% endblock %}